google-re2
pyxurls
gdown==5.1.0
urlobject
huggingface_hub[cli]>=0.23
di-toolkit
click
pandas
tabulate
pyquery
pyrfc6266
orator
dateparser
lxml<5
hfutils[rar,7z]>=0.3.0
dghs-imgutils>=0.4.1
pyquery
xmltodict
tzlocal
pyarrow
cryptography
pyyaml>=6
